@model List<SchoolManager.Models.ClassroomModel>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Classrooms</h2>
<div id="search">
    @using (Ajax.BeginForm("Search", "Classroom",
        new AjaxOptions
        {
            UpdateTargetId = "ClassroomsArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search..." />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="ClassroomsArray">
    @Html.Partial("~/Areas/ClassManagement/Views/Shared/_ClassroomResults.cshtml", @Model)
</div>

