@model List<SchoolManager.Areas.ClassManagement.Models.EstablishmentModel>
@{
    ViewBag.Title = "Index";
}

<h2>Establishments</h2>
<div id="search">
    @using (Ajax.BeginForm("Search", "Establishment",
        new AjaxOptions
        {
            UpdateTargetId = "EstablishmentsArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search..." />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="EstablishmentsArray">
    @Html.Partial("~/Areas/ClassManagement/Views/Shared/_EstablishmentResults.cshtml", @Model)
</div>

