@model List<SchoolManager.Models.TutorModel>
@{
    ViewBag.Title = "Tutors";
}

<h2>Tutors</h2>
 <div id="search">
    @using (Ajax.BeginForm("Search", "Tutor",
        new AjaxOptions
        {
            UpdateTargetId = "TutorsArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search..." />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="TutorsArray">
    @Html.Partial("~/Areas/ClassManagement/Views/Shared/_TutorResults.cshtml", @Model)
</div> 
