@model List<SchoolManager.Models.LevelModel>
@{
    ViewBag.Title = "Levels";
}

<h2>Levels</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cycle</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SchoolManager.Models.LevelModel level in Model)
        {
            <tr>
                <td> @Html.ActionLink(
                    linkText: level.CycleName,
                    actionName: "Read",
                    controllerName: "Cycle",
                    routeValues: new { 
                        id = level.Cycle_Id
                    },
                    htmlAttributes: null )</td>

                <td>@level.Title</td>
                <td>
                    @Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Level",
                    routeValues: new
                      {
                          id = level.Id
                      },
                      htmlAttributes: null
                )
                </td>
            </tr>
        }
    </tbody>
</table>

