@{
    ViewBag.Title = "Home Page";
}
@section header {
    <section class="featured">
        <div id="title-section" style="background-image: url('Images/school-header.jpg')">
            <div class="header-container">
                <h1>Welcome on SchoolManager !</h1>
                <hr class="small"/>
                <h2>Preferred tool by millions users to manage educational institution.</h2>
            </div>
        </div>
    </section>
}
<p>
    SchoolManager is a simple but impresive app which will help you to manage your school.
    All teacher will receive an account to manage their pupil and will be able to manage easily
    the administration of it ! Awesome, isn't it ?
</p>
<h3>With SchoolManager you'll be able to manage :</h3>
<ul id="functionalities-list">
    <li><h3>@Html.ActionLink("Academies", "Index", "Academy", new { area = "ClassManagement" }, null)</h3></li>
    <li><h3>@Html.ActionLink("Classrooms", "Index", "Classroom", new { area = "ClassManagement" }, null)</h3></li>
    <li><h3>@Html.ActionLink("Tutors", "Index", "Tutor", new { area = "ClassManagement" }, null)</h3></li>
    <li><h3>@Html.ActionLink("Pupils", "Index", "Pupil", new { area = "ClassManagement" }, null)</h3></li>
</ul>

<h2>So what are you waiting for to use it ??? It's free !</h2>


