@model List<SchoolManager.Models.PupilModel>
@{
    ViewBag.Title = "Pupils";
}

<h2>Pupils</h2>
<div id="search">
    @using (Ajax.BeginForm("Search", "Pupil",
        new AjaxOptions
        {
            UpdateTargetId = "PupilsArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class="form-group" }))
    {
        <input type="text" name="query" class="form-control" />
    }
</div>
<div id="PupilsArray">
    @Html.Partial("~/Areas/ClassManagement/Views/Shared/_PupilResults.cshtml", @Model)
</div>
