@model List<SchoolManager.Models.CycleModel>
@{
    ViewBag.Title = "Cycles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cycles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cycle in Model) { 
        <tr>
            <td>@cycle.Title</td>
            <td>@Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Cycle",
                    routeValues: new
                    {
                        area="Administration",
                        id = @cycle.Id
                    },
                    htmlAttributes: new
                    {
                        target = "_blank",
                    }
                )
            </td>
        </tr>
        }
    </tbody>
</table>
