@model SchoolManager.Models.CycleModel
@{
    ViewBag.Title = "Cycle " + Model.Title;
}

<h2>Levels for cycle @Model.Title </h2>

<table class="table">
    <thead>
        <tr>
           <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var level in Model.levels)
        {
            <tr>
                <td>@level.Title</td>
                <td>
                    @Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Level",
                    routeValues: new
                      {
                          area="Administration",
                          id=@level.Id
                          
                          
                      },
                    htmlAttributes: new
                    {
                        target= "_blank",
                    }
                )
            </td>
        </tr>
        }
    </tbody>
</table>
