@model List<SchoolManager.Areas.ClassManagement.Models.AcademyModel>
@{
    ViewBag.Title = "Academies";
}

<h2>Academies</h2>
<div id="search">
    @using (Ajax.BeginForm("Search", "Academy",
        new AjaxOptions
        {
            UpdateTargetId = "AcademiesArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search..."/>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="AcademiesArray">
    @Html.Partial("~/Areas/ClassManagement/Views/Shared/_AcademyResults.cshtml", @Model)
</div>
